@import url('https://fonts.googleapis.com/css?family=Catamaran:900|Roboto');

body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    color: #1B252F;
}

h1, h2, h3, h4 {
    font-family: "Catamaran", sans-serif;
}

/*
#################### HEADER AND MENU #####################
*/
header nav {
    width: 100%;
    background-color: #4B86C1;
    height: 5em;
    box-shadow: black 0 0 10px;
}

header nav .menu_left {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
}

header nav #logo_menu {
    display:flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 150px;
}

header nav #logo_menu img {
    height: 3em;
}

header nav #link_menu {
    width: 75%;
}

header nav #link_menu ul {
    margin: 0;
    padding: 0;
}

header nav li {
    list-style: none;
    display: inline;
    padding-right: 5%;
    line-height: 5em;
}

header nav li a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Catamaran", sans-serif;
    font-size: 1.4em;
}

header nav li a:hover {
    color: #F5F3F7;
    transition: 0.5s;
}

/*
#################### MAIN CONTENT #####################
*/

/*
#################### HOMEPAGE #####################
*/
.intro {
    height: 80vh;
    width: 100%;
    font-family: "Catamaran", sans-serif;
    color: white;
    text-align: center;
    padding-top: 20vh;
}

.intro .intro_text {
    background-color: rgba(0, 0, 0, 0.3);
    padding-top: 1em;
    padding-bottom: 0.2em;
}

.intro_text p {
    font-family: "Roboto", sans-serif;
    font-size: 1.3em;
}

.intro .intro_text h4 {
    text-transform: uppercase;
}

#intro {
    background: url("./assets/img/SkiFreeride_1080.jpg") center no-repeat;
    background-size: cover;
}

#introTopGear {
    background: url("./assets/img/SurfFreeride_1080.jpg") center no-repeat;
    background-size: cover;
}

#introReallyPro {
    background: url("./assets/img/DroneMontagneSnowboarder_1080.jpg") center no-repeat;
    background-size: cover;
}

.intro .intro_btn {
    padding-top: 7vh;
}

.intro .intro_btn a {
    color: white;
    border: 3px solid white;
    border-radius: 50%;
    text-decoration: none;
    font-size: 5em;
    margin-right: 3%;
    margin-left: 3%;
    width: 1em;
    height: 1em;
}

/*
#################### PICTURES PAGE #####################
*/
.gallery {
    margin: 0;
    padding: 0 0 2% 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.gallery .item {
    position: relative;
    margin: 1%;
    align-items: center;
    border-radius: 10px;
    background: #2E3940;
    width: 48%;
    transition: 0.5s;
}

.gallery .item img {
    width: 100%;
    border-radius: 10px;
}

.gallery .item:hover figcaption {
    opacity: 1;
    transition: 0.5s;
}

.gallery .item:hover {
    transform: scale(1.05);
    transition: 0.5s;
}

.gallery .item figcaption {
    position: absolute;
    bottom: 0;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    padding: 1%;
    opacity: 0;
    transition: 0.5s;
}

.gallery .item figcaption * {
    font-size: 0.9em;
    padding: 0;
    margin: 0;
}

.gallery .item figcaption h2 {
    font-size: 1.2em;
}

.pictures_category_container {
    padding-top: 1%;
    padding-bottom: 1%;
}

.pictures_category {
    margin: 30px 0 0 0;
    padding: 0 5% 0 5%;
    width: 90%;
    background: #ffffff;
}

.pictures_category h1 {
    font-size: 3em;
    text-align: center;
    text-transform: uppercase;
}

.pictures_category .item .technical_info {
    width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;

}

.pictures_category .item .technical_info dt, dd {
    width: 50%;
}

/*
#################### PRICE #####################
*/
.price_container {
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}

.price_container .price {
    min-width: 470px;
    position: relative;
    width: 25%;
    padding: 0;
    margin: 4vh 0.5% 2vh 0.5%;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    height: 80vh;
    min-height: 800px;
    text-align: center;
    font-size: 1.5em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.price_container .price.advised {
    transform: scale(1.1);
}

.price_container .price ul {
    border-top: 1px solid lightgrey;
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 2%;
}

.price_container .price ul li {
    margin-top: 0;
    padding: 0;
}

.price_container .price .headers {
    padding: 3% 0 3% 0;
}

.price_container .price .amount {
    font-size: 3em;
    background: #4B86C1;
    color: white;
    border-radius: 50%;
    height: 5.5em;
    width: 5.5em;
    line-height: 5.5em;
    margin-bottom: 5%;
}

.price_container .price h2 {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.main_container.equipment{
    margin: 2% 10% 2% 10%;
}

.main_container.equipment table{
    width: 100%;
}

/*
#################### CONTACT #####################
*/
.main_container.contact{
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    margin: 2% 0 2% 10%;
}

.main_container.contact div{
    width: 40%;

}

.main_container.contact form{
    display: flex; flex-flow: column;
}

.main_container.contact form fieldset *{
    width: 100%;
    max-width: 100%;
}

#contact_info iframe{
    border:none;
    width: 100%;
    min-height: 40vh;
}

/*
#################### FOOTER #####################
*/
footer {
    position: relative;
    width: 100%;
    background-color: #4B86C1;
    color: white;
    padding-top: 1%;
    height: 30vh;
    min-height: 300px;
}

footer .footer_content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 0 10% 0 10%;
}

footer .footer_content div {
    width: 45%;
    margin: 0 2.5% 0 2.5%;
}

footer .footer_content div h4 {
    margin: 0;
}

footer .copyright {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    width: 99%;
    padding: 0.5%;
}

footer .copyright h4 {
    padding: 0;
    margin: 0;
    font-size: 1em;
    font-family: "Roboto", sans-serif;
}

ul.social_list {
    font-size: 2.5em;
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    align-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
}

ul.social_list li {
    list-style: none;
    flex-basis: auto;
    border: 5px solid white;
    border-radius: 100%;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    margin-right: 2%;
}

ul.social_list li a {
    text-decoration: none;
    color: white;
}

ul.sitemap {
    list-style: none;
}

ul.sitemap ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.sitemap li {
    margin: 0;
    padding: 0;
}

ul.sitemap li a {
    text-decoration: none;
    color: white;
}

/*
#################### UTILITY CLASS #####################
 */
.separator {
    width: 100%;
    background-color: #4B86C1;
    color: #FFFFFF;
    height: 10vh;
    text-align: center;
}

.separator h2 {
    line-height: 10vh;
}

.news_cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.news_cards article {
    position: relative;
    text-align: left;
    width: 28%;
    min-height: 500px;
    height: 70vh;
    margin: 5vh 1% 2vh 1%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.news_cards article:hover {
    transform: scale(1.05);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.news_cards article .edit {
    position: absolute;
    font-size: 0.8em;
    bottom: 5px;
    right: 5px;
    text-transform: uppercase;
}

.news_cards article .pictures {
    position: relative;
    margin-bottom: 5%;
    height: 50%;
    background: #4B86C1;
    display: flex;
    align-items: center;
}

.news_cards article .pictures img {
    max-height: 100%;
    min-width: 100%;
}

.news_cards article .pictures h3 {
    position: absolute;
    display: block;
    width: 98%;
    bottom: 0;
    color: white;
    background: #4B86C1;
    padding: 1%;
    margin: 0;
}

.news_cards article .content {
    font-size: 1.2em;
    margin: 0;
    height: 35%;
    padding: 1%;
}

.news_cards article .category {
    position: relative;
    bottom: 0;
    border-top: solid lightgrey 1px;
    text-transform: uppercase;
    padding: 1%;
}

.news_cards article .category ul li {
    display: inline;
    white-space: nowrap;
}

.news_cards article .category ul li:after {
    content: " \00b7";
    font-weight: bold;
}

.news_cards article .category ul li:last-child:after {
    content: none !important;
}

.full_page_section {
    min-height: 100vh;
}

.main_container {
    margin-top: 2%;
    min-height: 100vh;
}

/*
#################### MEDIA QUERY #####################
*/

/* Tablet */
@media (max-width: 1000px) {
    header nav .menu_left #logo_menu {
        padding: 0;
    }

    .news_cards {
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 5%;
    }

    .news_cards article {
        width: 65%;

    }

    .price_container {
        display: flex;
        flex-flow: wrap column;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .price_container .price {
        width: 60%;
        margin: 5% 0 5% 0;
    }
}

/* Phablet */
@media (max-width: 750px) {
    header #menuHome {
        height: inherit;
    }

    header nav .menu_left {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    header nav .menu_left #logo_menu {
        padding: 0;
    }

    header nav .menu_left #logo_menu img {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }


    header nav #link_menu ul {
        flex-direction: column;
        height: inherit;
    }

    header nav .menu_left ul li {
        display: inherit;
        flex-basis: auto;
        text-align: center;
        padding: 0;
        line-height: 2em;
    }

    .gallery {
        flex-flow: column nowrap;
    }

    .gallery .item {
        width: 100%;
    }

    .price_container .price {
        width: 80%;

    }

    footer .social_list {
        flex-flow: column wrap;
        justify-content: flex-start;
        margin-top: 0;
    }

    ul.social_list li {
        width: 1em;
        height: 1em;
        line-height: 0.7em;
        border:3px solid white;
    }

    ul.social_list li a{
        font-size: 0.5em;
    }

    .main_container.contact{
        display:flex;
        flex-flow: column nowrap;
        align-items: center;
        margin-left: 2%;
    }
    .main_container.contact div {
        width: 95%;
    }
}

/* Mobile */
@media (max-width: 550px) {
}

/* Mini Mobile */
@media (max-width: 400px) {
}