body {
   background-color: #272527;
   color: #646464;
   font-family: "Trebuchet MS", Helvetica, sans-serif;
   width: 99%;
}

nav {
   box-shadow: 0 1px 0 #262626;
   background-color: #191919;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#282828), to(#191919));
   background-image: -webkit-linear-gradient(top, #282828, #191919);
   background-image: linear-gradient(top, #282828, #191919);
   background-repeat: no-repeat;
   line-height: 12px;
   height:50px
}

nav div{

}

nav ul{
   line-height: 50px;
}
nav ul li{
   list-style: none;
   display:inline;
   text-align: center;
   padding-right: 5%
}

article {
   margin: 1% 1% 1% 1%;
   padding: 1% 1% 1% 1%;
   border: 1px solid white;
}
