@font-face {
   font-family: roboto;
   src: url(../fonts/robotoLight.ttf);
}

body {
   background: url("../pictures/deskBack.jpg") no-repeat center fixed;
   -webkit-background-size: cover;
   background-size: cover;
   color: grey;
   font-family: roboto;
   width: 100%;
   position: relative;
}

nav {
   border-bottom: 1px solid gold;
   height: 50px;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
}

nav a {
   text-transform: uppercase;
   color: gold;
}

nav div {}

nav ul {
   line-height: 50px;
}

nav ul li:first-child {
   border-left: 1px solid darkgrey;
}

nav ul li {
   position: relative;
   list-style: none;
   display: inline;
   text-align: center;
   padding: 0 30px;
   border-right: 1px solid darkgrey;
}

#menu-icon {
   position: relative;
   display: none;
   color: gold;
   line-height: 50px;
}

a:hover#menu-icon {}

#mainDiv {
   height: 80%;
   min-height: 500px;
   background-color: rgba(0, 0, 0, 0.5);
   padding-bottom: 10%;
}

#mainDiv #intro {
   margin-bottom: 5%;
   font-weight: lighter;
}

article {
   position: relative;
   padding: 1% 1% 1% 1%;
   margin: 1% 1% 1% 1%;
   border: 2px solid gold;
   float: left;
   border-radius: 5px;
   min-height: 300px;
   background-color: rgba(0, 0, 0, 0.6);
}

article h2 {
   text-transform: uppercase;
   text-align: center;
   border-bottom: 1px solid gold;
   color: gold;
}

article .info {
   font-size: 0.8em;
   text-align: right;
}

article .category {}

article .category li {
   font-size: 0.9em;
   color: black;
   width: 30%;
   text-align: center;
   text-transform: uppercase;
   margin: 2% 1% 0% 1%;
}

article .content {
   margin-bottom: 50px;
}

article .extract {
   font-size: 1.2em;
   height: 100px;
}

article .btnGoTo {
   position: relative;
   border: 1px solid darkgoldenrod;
   border-radius: 5px;
   color: darkgoldenrod;
   background-color: rgba(0, 0, 0, 0, 0.5);
   text-transform: uppercase;
   line-height: 30px;
   text-align: center;
   width: 100%;
   height: 30px;
   margin-bottom: 10px;
}

footer {
   width: 100%;
   min-height: 100px;
   border-top: 1px solid darkgrey;
   background-color: rgba(255, 255, 255, 1);
}

@media only screen and (min-width: 320px) and (max-width: 1220px) {
   #menu-icon {
      display: inline;
   }
   nav ul,
   nav:hover ul {
      display: none;
      position: absolute;
      padding: 20px;
      background: #fff;
      border: 5px solid #444;
      left: 0px;
      top: 50px;
      width: 100%;
      border-radius: 4px 0 4px 4px;
   }
   nav li {
   }
   nav:hover ul {
      display: block;
   }
   article {
      width: 98%;
   }
}

@media only screen and (min-width: 1224px) {
   article {
      width: 48%;
   }
}